@tailwind base;
@tailwind components;
@tailwind utilities;


.str-chat__channel-preview--active, .str-chat__channel-preview-messenger--active{
  border-radius: 10px !important;
  background-color: #bfdbfe !important;
  margin-bottom: 10px !important;
}

.str-chat__channel-list-react{
  padding-right: 10px;
}
.str-chat__channel-list-react:hover{
  padding-right: 10px;
}

@media (min-width: 992px) {
  .rotate-lg-6 {
    transform: rotate(6deg);
  }
}

.fancy-border-radius {
  border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;
}