@tailwind base;
@tailwind components;
@tailwind utilities;


.str-chat__channel-preview--active, .str-chat__channel-preview-messenger--active{
  border-radius: 10px !important;
  background-color: #bfdbfe !important;
  margin-bottom: 10px !important;
}

.str-chat__channel-list-react{
  padding-right: 10px;
}
.str-chat__channel-list-react:hover{
  padding-right: 10px;
}

@media (min-width: 992px) {
  .rotate-lg-6 {
    transform: rotate(6deg);
  }
}

.fancy-border-radius {
  border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;
}

.str-chat__message-actions-box:not(.str-chat__message-actions-box-angular).str-chat__message-actions-box--mine {
  inset-block-end: -750% !important;
  margin-top: 30px !important;
  inset-inline-start: -500% !important;
}

@media only screen and (max-width: 480px) { 
  .str-chat__message-actions-box:not(.str-chat__message-actions-box-angular).str-chat__message-actions-box--mine {
    inset-block-end: -720% !important;
    margin-top: 30px !important;
    inset-inline-start: 100% !important;
  }
 }


 .header-title {
  padding: 5px 7px;
}

.header-pound {
  color: #006cff;
  font-weight: 800;
  padding-right: 2px;
}